@import '../../styles/variables.scss';

.levelFilter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 2px;
    margin-top: 1rem;
    &-button {
        width: 100%;
        background-image: $content-bg;
        cursor: pointer;
        transition: background-color 0.3s;
        border: 1px solid #fff;
        padding: 10px 0;
    }
    .active {
        background-image: none;
        color:#000;
        border: none;
    }
}